# Stack
.stack-work/

# Extracted MIDI
data/extracted/

# Confidential data
data/HEMAN/patterns/
data/HEMAN/pieces/csv/
data/HEMAN/pieces/mid/
data/queryDataset/
data/querys/

# TAGS
TAGS
stack.yaml.lock

# docs
docs/
