# Stack
.stack-work/

# Cabal
dist-newstyle/

# Generated output
docs/out/
docs/charts.html

# Confidential data
data/HEMAN/patterns/
data/HEMAN/pieces/csv/
data/HEMAN/pieces/mid/
data/queryDataset/
data/querys/

# TAGS
TAGS
stack.yaml.lock

# docs
docs/

# extracted patterns
data/extracted/